body {
    background-size: cover;
    background: linear-gradient(cyan, darkblue);
    height: 100%;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 20%;
    overflow: visible;
}

#silly-fish-selectable {
    transform: rotate(-5deg);
    margin-left: 10%;
    margin-top: 5%;
}

#silly-fish-bio {
    left: 15%;
    top: 20%;
}

#silly-fish {
    width: 50%;
    margin-top: auto;
    transform: rotate(-5deg);
}

.fish-selectable {
    position: absolute;
    max-height: 16%;
    animation: click 0.001s forwards;
    animation-play-state: paused;
    z-index: 1;
}

.fish-selectable:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.fish-selectable:active{
    animation: click 0.001s forwards;
    animation-play-state: running;
}

.bio {
    position: absolute;
    aspect-ratio: 2/1;
    height: 30%;
    background-color: beige;
    opacity: 0;
    border: dotted red;
}

.bio h1 {
    float: right;
    width: 50%;
    text-decoration: underline;
    margin: auto;
}

#silly-fish-selectable:active ~ #silly-fish-bio {
    opacity: 1;
    z-index: 2;
}

@media only screen and (max-width: 1000px) {
    body {
        height: 250vh;
        overflow: visible;
    }
}

@keyframes click {
    from {
        filter: brightness(0);
    }
    to {
        filter: brightness(1);
    }
}