body {
    background-color: lightgrey;
    display: block;
    align-items: center;
}

#page1 p {
    text-align: center;
    font-family: serif;
    font-size: small;
}

#page1 {
    background-color: white;
    margin: auto;
    aspect-ratio: 1/1.414;
    width: 40vw;
    text-wrap: wrap;
}

#page1 h1 {
    text-align: center;
    padding-top: 3%;
}

#page1 h4 {
    text-align: center;
}

#preface-wrapper {
    margin: auto;
    inline-size: 66.67%;
    overflow-wrap: break-word;
    hyphens: manual;
    margin-top: -15px;
}

.page {
    background-color: white;
    aspect-ratio: 1/1.414;
    width: 40vw;
    margin: auto;
    margin-top: 2%;
}