body {
    background-color: lightgrey;
    display: block;
    align-items: center;
}

#page1 {
    background-color: white;
    margin: auto;
    aspect-ratio: 1/1.414;
    width: 40vw;
}

#page1 h1 {
    text-align: center;
    padding-top: 3%;
}

#page {
    background-color: white;
    width: 50vw;
    height: 100vh;
    margin: auto;
    margin-top: 2%;
}