#static {
    overflow: hidden;
    margin: 0%;
    background-size: cover;
    filter: contrast(1000%) brightness(100%);
    background: 
    linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,1)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.14' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.flex-wrapper {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.flex-wrapper div {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.flex-wrapper img {
    height: 368px;
}

.text1 {
    position: absolute;
    color: #ff81f0;
    font-size: 50px;
    top: 285px;
    text-shadow: 2px 2px 2px black;
}

.text2 {
    position: absolute;
    color: #ff81f0;
    font-size: 50px;
    top: 45vh;
    text-shadow: 2px 2px 2px black;
}

.text3 {
    position: absolute;
    color: #ff81f0;
    font-size: 50px;
    bottom: 295px;
    text-shadow: 2px 2px 2px black;
}

.text-bonus {
    position: absolute;
    color: white;
    font-size: 25px;
    bottom: -5vh;
}

#ink1 {
    align-self: start;
    display: flex;
}

#ink2 {
    align-self: center;
    display: flex;
}

#ink3 {
    align-self: end;
    display: flex;
}

#think-a-little-bit {
    overflow: hidden;
    margin: 0%;
}

#ink1r {
    align-self: end;
    display: flex;
    filter: invert(1);
    transform: scaleY(-1);
}

#ink2r {
    align-self: center;
    display: flex;
    filter: invert(1);
    transform: scaleY(-1);
}

#ink3r {
    align-self: start;
    display: flex;
    filter: invert(1);
    transform: scaleY(-1);
}

#home {
    position: absolute;
    color: black;
    bottom: 0;
    text-decoration: none;
}

#nowhere {
    position: absolute;
    color: black;
    top: 0;
    text-decoration: none;
}
