#static {
    overflow: hidden;
    margin: 0%;
    background-size: cover;
    filter: contrast(1000%) brightness(100%);
    background: 
    linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,1)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.14' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.flex-wrapper {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.flex-wrapper div {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.flex-wrapper img {
    height: 368px;
}

#text1 {
    position: absolute;
    text-decoration: none;
    color: #ff81f0;
    font-size: 50px;
    top: 285px;
    text-shadow: 2px 2px 2px black;
}

#text2 {
    position: absolute;
    text-decoration: none;
    color: #ff81f0;
    font-size: 50px;
    top: 45vh;
    text-shadow: 2px 2px 2px black;
}

#text3 {
    position: absolute;
    color: #ff81f0;
    font-size: 50px;
    bottom: 295px;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

.text-bonus {
    position: absolute;
    color: white;
    font-size: 25px;
    bottom: -5vh;
}

#ink1 {
    align-self: start;
    display: flex;
}

#ink2 {
    align-self: center;
    display: flex;
}

#ink3 {
    align-self: end;
    display: flex;
}

#think-a-little-bit {
    overflow: hidden;
    margin: 0%;
}

#ink1r {
    align-self: end;
    display: flex;
    filter: invert(1);
    transform: scaleY(-1);
}

#ink2r {
    align-self: center;
    display: flex;
    filter: invert(1);
    transform: scaleY(-1);
}

#ink3r {
    align-self: start;
    display: flex;
    filter: invert(1);
    transform: scaleY(-1);
}

#home {
    position: absolute;
    color: black;
    bottom: 0;
    text-decoration: none;
}

#nowhere {
    position: absolute;
    color: black;
    top: 0;
    text-decoration: none;
}

#menu {
    background-color: gray;
    width: 33vw;
    height: 100vh;
}

#menu-top {
    color:#ff81f0;
    text-decoration: underline;
    font-size: 5vw;
    text-align: center;
    font-weight: normal;
}

#text-container {
    width: 50vw;
    color: darkgoldenrod;
    font-size: medium;
    position: absolute;
    left: 55vw;
}

#tranquilized {
    color: white;
    margin-top: 33%;
}

#p1 {
    color: gray;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

#bye {
    color: black;
    text-decoration: none;
    font-weight: normal;
    position: absolute;
    left: 70vw;
    top: 90vh;
}

#tlink {
    color:white;
    text-decoration: none;
}

.flex-wrapper2 {
    height: 75vh;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.flex-wrapper2 div {
    display: flex;
    width: 100vw;
    justify-content: center;
}

#the-stage {
    background-color: black;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

#stage-text {
    color: white;
    font-weight: normal;
    font-size: 10vh;
    align-self: end;
    text-shadow: blue 0px 5px;
}

#conversations {
    color: white;
}

#clink {
    color:white;
    text-decoration: none;
}

#ouch {
    color:white;
    text-decoration: none;
    font-weight: none;
    position:absolute;
    bottom: 5%;
}

#mosh-pit {
    background-color: red;
    width: 25vw;
    height: 100%;
    margin-top: 15vh;
    align-self: center;
}

#mosh-text {
    position: absolute;
    color: red;
    font-weight: bolder;
    font-size: 100px;
    text-shadow: black 4px 4px;
    left: 10vw;
}

#too-much {
    color: white;
    text-decoration: none;
    font-weight: none;
    position: absolute;
    bottom: 0;
}