
#terminal {
    background-color: darkblue;
}

#container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#login {
    width: 400px;
    height: 200px;
    background-color: darkgrey;
    border-radius: 2%;
    box-shadow: black 1px 1px;
}

#bar {
  width: 396px;
}

#dp {
  margin-left: 25%;
  transform: scale(0.5);
  border-radius: 50%;
  margin-top: -10%;
}

#text-container {
  float: inline-start;
  width: 400px;
  height: 25px;
  color: black;
  font-family: sans-serif;
  font-size: small;
  display: inline;
  text-align: center;
  margin-top: -45px;
}

#pw {
  width: 150px;
  margin-left: 125px;
  margin-top: -20px;
  border: solid black 1px;
}

#desktop {
  background-size: cover;
  background-image: url(assets/bg.png);
  overflow: hidden;
}

#void {
  display: block;
  position: absolute;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

  animation: fade ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popup {
  position: absolute;
}

#nutrigrain {
  width: 600px;
  height: 250px;
  background-color: darkgrey;
  border-radius: 1%;
  box-shadow: black 1px 1px;
}

#nutrigrain-bar {
  width: 596px;
}

#nutrigrain-fill {
  width: 596px;
  height: 215px;
  display: block;
  background-color: brown;
  margin: auto;
  margin-top: 3px;
  border-radius: 2%;
  border: solid black 1px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#x1 {
  left: 574px;
  top: 4px;
}

.x {
  aspect-ratio: 1;
  width: 21px;
  background-color: red;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  height: 25px;
  background-color: blue;
  margin: auto;
  margin-top: 2px;
  border-radius: 3px 3px 0px 0px;
  align-content: center;
  color: white;
}

#stop {
  aspect-ratio: 1;
  width: 280px;
  background-color: darkgrey;
  border-radius: 1%;
  box-shadow: black 1px 1px;
}

#stop-bar {
  width: 276px;
}

#x2 {
  left: 254px;
  top: 4px;
}

#stop-wrapper {
  aspect-ratio: 1;
  width: 276px;
  display: flex;
}

/* Code yoinked from https://css-loaders.com/ */

.loader {
  display: block;
  margin: auto;
  margin-top: -20px;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid white;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

/* Code yoinked from https://aleclownes.com/2017/02/01/crt-display.html */

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }
  
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }